<!--  Sorry for minimized classnames, I made it in React with styled-components 
https://github.com/EminQasimov/opening-3d-box-animation

https://www.youtube.com/watch?v=KAaFjv3Ejxg
-->
<div id="root">
  <div>
    <div class="sc-bdVaJa hCqOlD">
      <div class="sc-bwzfXH biqWkE">
        <div class="sc-htpNat kGQype">
          <div class="sc-bxivhb sc-dnqmqq ZEDDw">
            <div class="sc-iwsKbI ekMwXW"></div>
            <div class="sc-gZMcBi fujrhZ"></div>
            <div class="sc-gqjmRU jRAgJu"></div>
            <div class="sc-VigVT gpuqLL"></div>
          </div>
          <div class="sc-bxivhb sc-ifAKCX kLAltZ"></div>
          <div class="sc-bxivhb sc-EHOje gvPWuP"></div>
          <div class="sc-bxivhb sc-bZQynM ldKBkL"></div>
          <div class="sc-bxivhb sc-gzVnrw fFMyeM"></div>
          <div class="sc-bxivhb sc-htoDjs crPZsS"></div>
        </div>
      </div>
    </div>
  </div>
</div>
