<!--  Sorry for minimized classnames, I made it in React with styled-components 
https://github.com/EminQasimov/opening-3d-box-animation

https://www.youtube.com/watch?v=KAaFjv3Ejxg
-->

<mat-card class="example-card">
  <button class="button1" mat-raised-button></button>
  <button routerLink="/" class="button1" mat-raised-button>Homepage</button>
</mat-card>

<!-- Top Game Analysis -->
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Top Game Analysis</mat-card-title>
    <mat-card-subtitle>NFL</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://media.istockphoto.com/photos/american-picture-id1170527286?k=20&m=1170527286&s=612x612&w=0&h=NfEteb2GTe2WQZX8OLP10bPCpj04_Na6ZrLsvT2exrc="
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      Countless hours were spent analyzing this game of the week. Our Satchel
      Experts are so confident in this pick, that if you don't win, you don't
      pay, PERIOD!
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<!-- Opening Box -->
<div id="root">
  <div>
    <div class="sc-bdVaJa hCqOlD">
      <div class="sc-bwzfXH biqWkE">
        <div class="sc-htpNat kGQype">
          <div class="sc-bxivhb sc-dnqmqq ZEDDw">
            <div class="sc-iwsKbI ekMwXW"></div>
            <div class="sc-gZMcBi fujrhZ"></div>
            <div class="sc-gqjmRU jRAgJu"></div>
            <div class="sc-VigVT gpuqLL"></div>
          </div>
          <div class="sc-bxivhb sc-ifAKCX kLAltZ"></div>
          <div class="sc-bxivhb sc-EHOje gvPWuP"></div>
          <div class="sc-bxivhb sc-bZQynM ldKBkL"></div>
          <div class="sc-bxivhb sc-gzVnrw fFMyeM"></div>
          <div class="sc-bxivhb sc-htoDjs crPZsS"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Top Pick Card -->
<mat-card class="custom">
  <mat-card-subtitle>Analysis</mat-card-subtitle>
  <mat-card-title>Top Pick</mat-card-title>
  <mat-card-content> Dallas Cowboys </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
  <mat-card-footer> </mat-card-footer>
</mat-card>
