<!-- <h1>Angular Router App</h1> -->
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<!-- <nav>
  <ul>
    <li>
      <a
        routerLink="/profile-ss"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >profile-card Component</a
      >
    </li>
  </ul> -->
<!-- </nav> -->
<!-- The routed views render in the <router-outlet>-->

<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Small</mat-card-subtitle>
    <img
      mat-card-sm-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    />
  </mat-card-title-group>
  <!-- <mat-card-content> Testing </mat-card-content> -->
</mat-card>
